<configuration>

    <!-- 로그 파일 경로 -->
    <property name="LOG_PATH" value="src/main/resources/logs/local" />

    <!-- 로그 패턴 -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) [%thread] %magenta(%logger) - %cyan(%msg%n)" />

    <!-- 콘솔 출력 설정 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <timestamp key="byDate" datePattern="yyyy-MM-dd"/>
    <!-- 로컬 로그 파일 설정 -->
    <appender name="LOCAL_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/local.${byDate}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/local_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

<!--    <logger name="kr.co.petmates.api.bussiness.oauth" level="DEBUG" />-->
    <!-- 루트 로거 설정 -->
<!--    <root level="INFO">-->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="LOCAL_FILE" />
    </root>

</configuration>