<configuration>

    <!-- 로그 출력 위치와 파일 이름 설정 -->
    <property name="LOG_PATH" value="src/main/resources/logs/prod" />
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}/prod.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 루트 로거 설정 -->
    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>

</configuration>